<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rooms</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/static/img/favicon.png">
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">
  <style>
    body{
      margin:0px;
      padding:0px;
    }

  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">BulletinVR</a>
      <a class="btn btn-primary" href="https://github.com/k3vnchen/bulletin-webvr">GitHub</a>
    </div>
  </nav>


<div class = "container-fluid my-3">
  <div class="card-deck">
    <div class="card">
      <img src="/static/img/meditation.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wellness</h5>
        <p class="card-text">In this automatically-moderated room, you are welcome to share your positivity and motivation with everyone!</p>
      </div>
      <div class="card-footer"><a href="room?n=1" target="_blank"><button type="button" class="btn btn-primary btn-block">Join</button></a></div>
    </div>
    <div class="card">
      <img src="/static/img/book.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Story-Telling</h5>
        <p class="card-text">Collaborate with other users to write a story - sentence by sentence!</p>
      </div>
      <div class="card-footer"><a href="room?n=2" target="_blank"><button type="button" class="btn btn-primary btn-block">Join</button></a></div>
    </div>
    <div class="card">
      <img src="/static/img/workplace.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">General</h5>
        <p class="card-text">Talk about absolutely anything with other people!</p>
      </div>
      <div class="card-footer"><a href="room?n=3" target="_blank"><button type="button" class="btn btn-primary btn-block">Join</button></a></div>
    </div>
  </div>
</div>


  <!-- Footer -->
  <div class="footer bg-light text-center py-3">
      <h5 class="text-muted">&copy; YHack 2019. All Rights Reserved.</h5>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
