# Ignore experiments and tests
/__pycache__
/virt
/env

# Ignore some files
test*
wordlist.txt
*.glb
*.gltf
*.obj
*.ai
*.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
